<!DOCTYPE html>
<html>
<head>
	<title>Change Information</title>
	<link rel="stylesheet" href="/css/changeInfo.css">
</head> 
<body>
<style>
	 body
	 {
		background-image: url("https://th.bing.com/th/id/Rc7f8f0025f585bbf8abebfeae1a50cfe?rik=PVQ2choBn6BRQA&riu=http%3a%2f%2fimg.collegepravesh.com%2f2014%2f12%2fThapar-University.jpg&ehk=CCOy468fwERBONZm5Dhv%2fG8BdT6U5ansGCbgjFc4dEQ%3d&risl=&pid=ImgRaw");
		background-repeat:no-repeat;
		background-attachment: fixed;
  		background-size: cover;
	 }
	</style>
	<div class="support">
	<p>Welcome {{uid.fac_name}}</p>
	<!--<a href="/home/contact?uid={{uid._id}}" class="link1">Contact Us</a>
	<a href="/home/feedback?uid={{uid._id}}" class="link1">Feedback</a>-->
	<br>
	<!--<a href="#" class="link2">Sign Out</a>-->
	</div>
	<div class="promote">
		<h2><b>Thapar ARMS<br>Auditorium and Room Management System</b></h2>
		<a class="a" href="/home/logout" target="_blank">Log<br>Out</a>
		<a class="a" href="/faculty/ChangePassword?uid={{uid._id}}">Change<br>Password</a>
		<!--<a class="a" href="/home/my_request?uid={{uid._id}}">My<br>Requests</a>-->
		<a class="a" href="/faculty/changeInfo?uid={{uid._id}}">Edit<br>Info</a>
		<a class="a" href="/faculty/personalDetails?uid={{uid._id}}">Personal<br>Info</a>
		<br><br>
		<a href="/faculty?uid={{uid._id}}"><button class="bookNow">Home Page</button></a>
	</div>
	<div class="information">
		<h1><b>Change Student/Faculty Information</b></h1>
		<br><br>
		<curr><b>Current Info</curr>
		<new>New Info</b></new>
		<br><br><br>
		<label>Current Mobile</label>	
		<form action="/api/FacultyChangeInfo" method="post">
		<inputLabel><input type="number" id="curr_mob" name="mobile" placeholder="Current Mobile Number" value="{{uid.mob}}"></inputLabel>
		<inputLabel1><input type="number" id="new_mob" name="mobile2" placeholder="New Mobile Number"></inputLabel1>
		<label3>New Mobile</label3>
		<br><br>
		<label>Current User-ID</label>
		<inputLabel2><input type="text" id="curr_uid" name="userID" placeholder="Current User-ID" value="{{uid.uname}}"></inputLabel2>
		<inputLabel3><input type="text" id="new_uid" name="userID2" placeholder="New User-ID"></inputLabel3>
		<label4>New User-ID</label4>
		<br><br>
		<!--<label>Current Name</label>
		<inputLabel2><input type="text" id="curr_uid" name="name1" placeholder="Current Name"></inputLabel2>
		<inputLabel3><input type="text" id="new_uid" name="name2" placeholder="New Name"></inputLabel3>
		<label4>New Name</label4>
		<br><br>--><br><br>
		<input type="hidden" name="id" value="{{uid._id}}">
		<input type="reset">
		<input type="submit" style="margin-left:150px;" onmousedown="validate()" placeholder="Save">
		</form>
	</div>
	<script src="/js/changeInfo.js"></script>
</body>
</html>