<!DOCTYPE html>
<html>
<head>
	<title>Faculty Home Page</title>
	<link rel="stylesheet" href="/css/facultyHome.css">
</head>
<body>
	<style>
	body
	{
		background-image: url("https://th.bing.com/th/id/Rc7f8f0025f585bbf8abebfeae1a50cfe?rik=PVQ2choBn6BRQA&riu=http%3a%2f%2fimg.collegepravesh.com%2f2014%2f12%2fThapar-University.jpg&ehk=CCOy468fwERBONZm5Dhv%2fG8BdT6U5ansGCbgjFc4dEQ%3d&risl=&pid=ImgRaw");
		background-repeat:no-repeat;
		background-attachment: fixed;
  		background-size: cover;
	}
	</style>
	
	<div class="support">
		<p>Welcome {{name}}</p>
		<br>
		<!--<a href="#" class="link2">Sign Out</a>-->
	</div>
	<div class="promote">
		<h1><b>Thapar ARMS<br>Auditorium and Room Management System</b></h1>
		<a href="/home/logout">Log<br>Out</a>
		<a href="/faculty/ChangePassword?uid={{uid}}">Change Password</a>
		<a href="/faculty/changeInfo?uid={{uid}}">Edit<br>Info</a>
		<a href="/faculty/personalDetails?uid={{uid}}">Personal<br>Info</a>
		<br>
	</div>
	<br><hr>
	<div id="booking">
		<br>
		<table>
			<tr>
				<th>Room Number</th>
				<th>Room Name</th>
				<th>Booking Details</th>
				<th>Response</th>
			</tr>

{{#each Rooms}}
			<tr>
				<td>{{Room_Number}}</td>
				<td>{{Room_Name}}</td>
				<td><a href="/faculty/showdetail?id={{Room_Name}}&uid={{../uid}}" id="{{Room_Number}}">Show info</a></td>
				<form action="/api/response" method="post" name="decisionForm">
				<input type="hidden" id="{{Room_Name}}" value="None">
				<input type="hidden" name="roomName" value="{{Room_Name}}">
				<input type="hidden" name="uid" value="{{../uid}}">
				<td><input type="submit" class="decision" id="accept" value="Accept" name="Decision" onmousedown=acceptRequest({{Room_Name}})>
				<input type="submit" class="decision" id="reject" value="Reject" name="Decision" onmousedown=rejectRequest({{Room_Name}})>
				</form>
				</td>
			</tr>
{{/each}}
		</table>
	</div>
	<script src="/js/facultyHome.js"></script>
</body>
</html>