<!DOCTYPE html>
<html>
<head>
	<title>Booking Form</title>
	<link rel="stylesheet" href="/css/showDetail.css">
</head> 
<body>
<style>
	 body
	 {
		background-image: url("https://th.bing.com/th/id/Rc7f8f0025f585bbf8abebfeae1a50cfe?rik=PVQ2choBn6BRQA&riu=http%3a%2f%2fimg.collegepravesh.com%2f2014%2f12%2fThapar-University.jpg&ehk=CCOy468fwERBONZm5Dhv%2fG8BdT6U5ansGCbgjFc4dEQ%3d&risl=&pid=ImgRaw");
		background-repeat:no-repeat;
		background-attachment: fixed;
  		background-size: cover;
	 }
	</style>
	<div class="support">
		<p>Welcome {{name}}</p>
		<!--<a href="/home/contact" class="link1">Contact Us</a>
		<a href="/home/feedback" class="link1">Feedback</a>-->
		
		<!--<a href="#" class="link2">Sign Out</a>-->
		<a href="/faculty?uid={{uid}}" class="link1">Back to Booking Page</a>
	</div>
	<div class="promote">
		<h2><b>Thapar ARMS<br>Auditorium and Room Management System</b></h2>
		<a href="/home/logout">Log<br>Out</a>
		<a href="/faculty/ChangePassword?uid={{uid}}">Change<br>Password</a>
		<!--<a href="">My<br>Requests</a>-->
		<a href="/faculty/changeInfo?uid={{uid}}">Edit<br>Info</a>
		<a href="/faculty/personalDetails?uid={{uid}}">Personal<br>Info</a>
		<br><br>
	</div>
	<div class="requestForm">
		<h1><b>Showing Details for {{Room_Name}}</b></h1>
		<br>
		<form id="ReqBook" name="form" id="book_form"> 
			<!--<input type="hidden" name="roomName" value="{{roomNo.Room_Name}}" id="roomName"/>-->
			<label>Name</label>
			<il1><input type="button" id="getName" name="Name" value="{{BookingDetail.Name}}"></il1>
			<br><br>
			<label1 for="branch">Branch</label1>
			<il2><input type="button" id="branch" name="branch" value="{{BookingDetail.branch}}"></il2>
			&nbsp;<label2 for="year">Year</label2>
			<il3><input type="button" id="year" name="year" value="{{BookingDetail.year}}"></il3>
			<br><br>
			<label>Mobile Number</label>
			<il4><input type="button" id="getMobile" name="mobile" value="{{BookingDetail.MobileNumber}}"></il4>
			<br><br>
			<label for="society">Society</label>
			<il5><input type="button" id="society" name="society" value="{{BookingDetail.society}}"></il5>
			<br><br>
			<label>Event Name</label>
			<il6><input type="button" id="getEvent" name="event" value="{{BookingDetail.eventNames}}"</il6>
			<br><br>
			<label>Purpose</label>
			<il7><input type="button" id="getPurpose" name="purpose" value="{{BookingDetail.purpose}}"></il7>
			<br><br>
			<label>Date Of Event</label>
			<il8><input type="button" id="eventDate" name="eventDate" value="{{BookingDetail.eventDate}}"></il8>
			<br><br>
			
			<label5 for id="eventTime">Event Time</label5>
			<il9><input type="time" id="eventTime" name="eventTime" value="{{BookingDetail.eventTime}}"></il9>
			<label3> to </label3>
			<il10><input type="time" id="eventTime1" name="eventTime1" value="{{BookingDetail.eventTime1}}"></il10>
			<br><br>
			<label4 for="people">Total Strength<br>(Approx.)</label4>
			<il11><input type="button" id="people" name="people" value="{{BookingDetail.people}}"></il11>
			<br><br><br>
			<label6><strong>Additional Facilities:</strong></label6>
			<br><br>
			<label>AC required:</label>
			<il12><input type="button" id="yesAC" name="AC" value="{{BookingDetail.AC}}"></il12>
			<!--<label7 for="yesAC">Yes</label7>-->
			<br><br>
			<label>Speaker required:</label>
			<il13><input type="button" id="yesSS" name="SS" value="{{BookingDetail.SS}}"></il13>
			<!--<label7 for="yesSS">Yes</label7>-->
			<br><br><br>
			
		</form>
	</div>
	<script>
		let birth=document.getElementById('eventDate');
		let today=birth.value.slice(0,15)
		birth.value=today
	</script>
	<script src="/js/requestForm.js"></script>
</body>
</html>